<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      2023-04-24 - exercicio 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list lines="full">
  <ion-item>
    <ion-label>Bem Vindo!</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Hoje é {{dataMontada}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Agora são {{horaMontada}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Dia da Semana: </ion-label>
  </ion-item>
</ion-list>
</ion-content>
