<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista Alunos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group>
    <ion-item-divider color="primary">
      <ion-label>Aprovados</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>A</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Amanda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Andreza</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>...</ion-label>
    </ion-item>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="danger">
      <ion-label>Reprovados</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>A</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Anderson</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alex</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>...</ion-label>
    </ion-item>

  </ion-item-group>
</ion-content>