node_modules
.tmp
.sass-cache
**/bower_components or sometimes it is lib/**
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
IA/.ipynb_checkpoints/knn_iris_hashtag-checkpoint.ipynb
IA/.ipynb_checkpoints/lic_ia_knn-checkpoint.ipynb
