<ion-header>
  <ion-toolbar>
    <ion-title>AULA 05</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-avatar>
    <img alt="Silhouette of a person's head" src="assets/venom.jpg" />
  </ion-avatar>
  <ion-chip>

    <ion-avatar>
      <img alt="Silhouette of a person's head" src="assets/venom.jpg" />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/venom.jpg" />
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item> -->
  <!--
  <ion-thumbnail>
    <img alt="Silhouette of mountains" src="assets/venom.jpg" />
  </ion-thumbnail>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/venom.jpg" />
    </ion-thumbnail>
    <ion-label>Item Thumbnail</ion-label>
  </ion-item> -->

  <!-- <ion-list>
    <ion-item>
      <ion-label class="ion-text-end">
        <h3>Venom</h3>
        <p>Fala miranha</p>
      </ion-label>
      <ion-avatar slot="end">
        <img src="assets/venom.jpg" alt="">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Spider</h3>
        <p>Opa! simbiose</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="assets/spiderman.jpg" alt="">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-end">
        <h3>Venom</h3>
        <p>Falou com a MJ?</p>
      </ion-label>
      <ion-avatar slot="end">
        <img src="assets/venom.jpg" alt="">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Spider</h3>
        <p>Ainda não, o que tem ela?</p>
      </ion-label>
      <ion-avatar slot="start">
        <img src="assets/spiderman.jpg" alt="">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-end">
        <h3>Venom</h3>
        <p>Comi! kkkkkkk</p>
      </ion-label>
      <ion-avatar slot="end">
        <img src="assets/venom.jpg" alt="">
      </ion-avatar>
      <ion-thumbnail slot="start">
        <img src="assets/mj.png" alt="">
      </ion-thumbnail>
    </ion-item>

  </ion-list> -->

  <!-- <ion-card>
    <img src="assets/cafi.jpeg" alt="">
    <ion-card-header>
      <ion-card-title>IFPE Campus Afogados da Ingazeira</ion-card-title>
      <ion-card-subtitle>História</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit condimentum augue, eu euismod est
      sollicitudin ut. Cras imperdiet ut lacus placerat gravida. Aliquam risus libero, convallis et lacus vel, luctus
      pulvinar ligula. Nulla facilisi. Cras blandit ipsum justo, eget posuere nunc varius ac. Integer efficitur
      imperdiet arcu, nec dictum lorem accumsan non. Duis congue et ex nec consectetur. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Aliquam tristique erat id fermentum faucibus. Aliquam erat volutpat. Etiam dapibus
      libero ipsum, ac vestibulum diam suscipit quis.
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card>
    <img src="assets/cafi.jpeg" alt="">
    <ion-card-header>
      <ion-card-subtitle>Propaganda</ion-card-subtitle>
      <ion-card-title>Lojas Compre aqui</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit condimentum augue, eu euismod est
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Afogados da Ingazeira</ion-label>
        <ion-button fill="outline" slot="end">VIEW</ion-button>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit condimentum augue, eu euismod est
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>HOTSPOT</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>ACADEMIAS </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>BARES</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>FARMÁCIAS</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="wifi-outline" slot="start"></ion-icon>
        <ion-label>Wifi</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bluetooth-outline" slot="start"></ion-icon>
        <ion-label>Bluetooth</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>Rede Móvel</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Hora</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Data </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Geral</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="sunny-outline" slot="start"></ion-icon>
        <ion-label>Brilho </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>Contas </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="battery-half-outline" slot="start"></ion-icon>
        <ion-label>Bateria </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>Localização </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <img src="assets/spiderman.jpg" alt="">
    <ion-card-header>
      <ion-card-title>Homem Aranha (Spiderman)</ion-card-title>
      <ion-card-subtitle>O que gosta de fazer</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Ser o amigo da vizinhança
    </ion-card-content>
  </ion-card>
</ion-content>