<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Doação de Sangue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>SIM | NÃO</ion-label>
  </ion-item>
  <ion-list lines="full">

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Já doou sangue?</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Fez uso de bebida alcoólica?</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Fumante?</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Já se alimentou hoje?</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Dormiu bem a noite?</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Já foi operado?</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Faz uso de algum remédio?</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Já viajou para a regioão norte?</ion-label>
    </ion-item>

  </ion-list>
  <ion-button expand="full" color="success" shape="round"> <ion-icon name="save-outline" slot="end"></ion-icon>
    SALVAR</ion-button>

  <ion-label> <a href="/tela2">tela2</a> </ion-label>
</ion-content>