<ion-header>
  <ion-toolbar>
    <ion-title>
      Agenda Telefonica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-item lines="none">
        Agenda Telefonica</ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>
        A
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>Amanda</ion-item>
      <ion-item>Aline</ion-item>
      <ion-item>Aroldo <ion-icon name="star" size="small" slot="end"></ion-icon></ion-item>
    </ion-list>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>
        B
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>Barbara</ion-item>
      <ion-item>Bertoldo</ion-item>
      <ion-item>Bery</ion-item>
    </ion-list>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>
        C
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>Carlos</ion-item>
      <ion-item>Carla</ion-item>
      <ion-item>Cozinha</ion-item>
    </ion-list>
  </ion-item-group>
  <ion-item>
    <a href="/chat">Acesso ao Chat</a>
  </ion-item>
</ion-content>