<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Questao 2 - Impostos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
   <ion-item>
     <ion-label>Salário:</ion-label>
     <ion-input type="number"  [(ngModel)]="salario" placeholder="digite o seu salario"></ion-input>
   </ion-item>
 </ion-list>
 <ion-button (click)="calcularImpostos()">Enviar</ion-button>
 <ion-item>
  <ion-label class="ion-text-wrap">{{msgAlerta}}</ion-label>
 </ion-item>
</ion-content>
